* {

font-family: Arial;
}

h1 {
    font-size: 50px;
    display: flex;
    justify-content: center;
}

body {
    background: linear-gradient(0.25turn, #3f87a6, #65d80d, #000000);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
div{
    
    height: 200px;
    text-align: center;
}